<footer class="footer-main">
			<div class="wrapper">
				<div class="container-fluid">
					<div class="row-fluid">
						<f:cObject typoscriptObjectPath="lib.navigation.footer" />
						<f:if condition="{settings.show.socialmedia}">
							<f:cObject typoscriptObjectPath="lib.navigation.socialmedia" />
						</f:if>
					</div><!-- .row-fluid -->
					<div class="spacer"></div>
				        <f:cObject typoscriptObjectPath="lib.copyright" />
				</div>
			</div>
		</footer>

</div> <!-- .page -->
