<div class="page">
	<header class="header-main clearfix" role="banner">
		<div class="container-fluid">
			<div class="row-fluid">
	
				<div class="wrapper">
					<f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.navigation.home')}" class="logo"> 
						<f:if condition="{settings.show.staticLogo}">
							<f:then>
								<f:image src="EXT:bga_extern/Resources/Public/Template/img/logo.png" alt="Groß Rauskommen - Logo" />
							</f:then>
							<f:else>
								<div class="logo-1"></div>
								<div class="logo-2"></div>
							</f:else>	
						</f:if>
					</f:link.page>
	
					<f:if condition="{settings.show.signpost}">
						<div class="hint">
							<f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.navigation.placements')}"> 
								<f:image src="EXT:bga_extern/Resources/Public/Template/img/hint.png" alt="Hier wartet deine Zukunft!" />
							</f:link.page>
						</div>
					</f:if>
					
					<div class="nav-wrapper clearfix">
	
						<div class="nav-main-toggle">
							<span><i class="icon-reorder"></i></span>
						</div>
						<f:cObject typoscriptObjectPath="lib.mobileNavigation" />
						<div id="desktopnav">
							<nav class="nav-main nav-basic clearfix" role="navigation">
								<ul>
									<f:cObject typoscriptObjectPath="lib.navigation.main" />
								</ul>
							</nav>
						</div>
						
						<f:if condition="{settings.show.logoutButton}">
							<nav class="nav-logout clearfix">
								<f:cObject typoscriptObjectPath="lib.navigation.logout" />
							</nav>
						</f:if>
                                                
						<f:if condition="{settings.show.searchField}">
							<f:cObject typoscriptObjectPath="lib.extensions.indexed_search.form" />
						</f:if>
	
					</div><!-- .nav-wrapper -->
	
				</div><!-- .wrapper -->
	
			</div>
		</div>
	</header>
