/* Kopie von typo3 default css, bearbeitet
 original deaktiviert: plugin.tx_cssstyledcontent._CSS_DEFAULT_STYLE >
 */
DIV.csc-textpic-caption-c .csc-textpic-caption {
    text-align: center;
}
DIV.csc-textpic-caption-r .csc-textpic-caption {
    text-align: right;
}
DIV.csc-textpic-caption-l .csc-textpic-caption {
    text-align: left;
}
DIV.csc-textpic DIV.csc-textpic-imagecolumn {
    display: inline;
    float: left;
}
DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG, DIV.csc-textpic-border DIV.csc-textpic-single-image IMG {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: black;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: black;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
DIV.csc-textpic-imagewrap {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
DIV.csc-textpic IMG {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image {
    float: left;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap UL {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image {
    float: left;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT {
    float: none;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD {
    float: none;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
DL.csc-textpic-image {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
DL.csc-textpic-image DT {
    display: inline;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
DL.csc-textpic-image DD {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
DIV.csc-textpic-clear {
    clear: both;
}
DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
    display: inline;
    margin-right: 10px;
}
DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image, DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
    display: inline;
    margin-left: 10px;
}
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
    display: inline;
    margin-left: 10px;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    vertical-align: bottom;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image {
    margin-bottom: 10px;
}
DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow {
    display: block;
    margin-bottom: 10px;
}
DIV.csc-textpic DIV.csc-textpic-imagerow {
    clear: both;
}
DIV.csc-textpic DIV.csc-textpic-single-image IMG {
    margin-bottom: 10px;
}
* + html DIV.csc-textpic DIV.csc-textpic-imagerow .csc-textpic-image {
    margin-bottom: 0;
}
* + html DIV.csc-textpic DIV.csc-textpic-imagerow {
    margin-bottom: 10px;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol {
    margin-left: 0 !important;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol {
    margin-right: 0 !important;
}
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap, DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
    margin-right: 0 !important;
}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap, DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
    margin-left: 0 !important;
}
DIV.csc-textpic-above DIV.csc-textpic-text {
    clear: both;
}
DIV.csc-textpic-center {
    text-align: center;
}
DIV.csc-textpic-center DIV.csc-textpic-imagewrap {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
    text-align: left;
}
DIV.csc-textpic-center DIV.csc-textpic-text {
    text-align: left;
}
DIV.csc-textpic-right DIV.csc-textpic-imagewrap {
    float: right;
}
DIV.csc-textpic-right DIV.csc-textpic-text {
    clear: right;
}
DIV.csc-textpic-left DIV.csc-textpic-imagewrap {
    float: left;
}
DIV.csc-textpic-left DIV.csc-textpic-text {
    clear: left;
}
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap {
    float: left;
}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap {
    float: right;
}
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
    clear: both;
/*    float: right;*/
}
* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text {
    height: 1%;
}
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
    clear: both;
    float: left;
}
* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text, * html .csc-textpic-intext-left ol, * html .csc-textpic-intext-left ul {
    height: 1%;
}
DIV.csc-textpic DIV.csc-textpic-imagerow-last {
    margin-bottom: 0;
}
.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 40px;
}