/**
 * @file forms.css
 * @author Dirk Wenzel
 * CSS for forms (formhandler)
 */


/* formulare */

.Tx-Formhandler{
	width: 43%;
	min-width: 280px;
	margin: 0 3.5%;
	padding: 10px;
	border: none;
	text-align: left;
}

.Tx-Formhandler h2.formLabel {text-align: right}
.Tx-Formhandler fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
.Tx-Formhandler .type-text,
.csc-mailform-field {
	width: 100%;
	margin: 5px 0;
	line-height: 2em;
}
.csc-mailform-field span{
	display: block;
	margin-left: 25%;
	margin-bottom: 0.8em;
	padding-left: 15px;
	font-weight: 600;
}
.Tx-Formhandler label,
.csc-mailform-field label{
	text-align: right;
	width: 25%;
	min-width: 60px;
	padding-right: 1em;
	color: #777;
    font-size: .9em;
}

.Tx-Formhandler label,
.Tx-Formhandler input,
.csc-mailform-field label,
.csc-mailform-field input{
	display: block;
	float: left;
	margin: 5px 0;
}

.Tx-Formhandler input,
.Tx-Formhandler textarea,
.csc-mailform-field input,
.csc-mailform-field textarea{
	width: 65%;
	min-width: 180px;
}

.Tx-Formhandler textarea,
.csc-mailform-field textarea{
	padding: 2px;
}

.Tx-Formhandler .type-button input,
input.csc-mailform-submit {
    float: right;
    margin-right: 5%;
    width: auto;
    min-width: 6em;
    color: #b12932;
    font-size: 12.6px
}
.csc-mailform-field{
	clear: both;
}
.Tx-Formhandler .error,
.Tx-Formhandler span.required,
.csc-mailform-field span.required{
	color: #B12932; 
}

/* formular auf Seite Kartenbestellung (pid 67) und Jubilaeumsgala (pid 75) */
#p67 #content_left,
#p75 #content_left{
	min-width: 450px;}
#p67 #mailform,
#p75 #mailform{
	width: 450px;
	display: inline-table;
}
#p67 .csc-mailform,
#p75 .csc-mailform{
	min-width: 100px;
	margin: 0;
	padding: 0;
}
#p67 .csc-mailform-field,
#p75 .csc-mailform-field  {
	float:right;
	width: 400px;
}

#p67 .csc-mailform-field label,
#p75 .csc-mailform-field label{
	width: 208px;
	margin: 0;
}
#p67 .csc-mailform-field input,
#p67 .csc-mailform-field select,
#p67 .csc-mailform-field textarea,
#p75 .csc-mailform-field input,
#p75 .csc-mailform-field select,
#p75 .csc-mailform-field textarea{
	width: 20px;
	height: 15px;
	min-width: 1px;
	float:	left;
	padding-right: 3px;
	margin-top:0;
	margin-bottom:0;
}

#p67 #mailformVorname,
#p67 #mailformNachname,
#p67 #mailformEmail,
#p67 #mailformStrasse,
#p67 #mailformOrt,
#p67 #mailformBemerkung,
#p75 #mailformVorname,
#p75 #mailformNachname,
#p75 #mailformEmail,
#p75 #mailformStrasse,
#p75 #mailformOrt,
#p75 #mailformBemerkung,
#p75 #mailformBegleitung{
	width: 170px;
}
#p67 input.csc-mailform-submit, 
#p75 input.csc-mailform-submit,
#p75 #mailformBemerkung,
#p75 #mailformBegleitung{
	height: auto;
}

#p67 input.csc-mailform-submit,
#p75 input.csc-mailform-submit {
	width: auto;
	margin-right: 0;
	margin-left: 220px;
}
#p67 .csc-mailform-field span,
#p75 .csc-mailform-field span{
	padding: 0 3px 0 0;
	margin-left: 0;
	text-align: right;
}
#p67 .csc-mailform-field span.required,
#p75 .csc-mailform-field span.required{
	padding: 0;
	width: 5px;
	margin-left: -10px;
	display: inline;
	float: left;
}

#p67 .csc-mailform-field span.csc-mailform-radio,
#p75 .csc-mailform-field span.csc-mailform-radio{
	margin-left: 0;
	float: left;
	text-align: left;
}

#p67 .csc-mailform .csc-mailform-radio label,
#p75 .csc-mailform .csc-mailform-radio label{
	float: none;
	text-align: left;
	padding: 0;
	width: 175px;
}

#p67 .csc-mailform-field #mailform20_Euro,
#p67 .csc-mailform-field #mailform12_Euro,
#p67 .csc-mailform-field #mailform7_Euro,
#p75 .csc-mailform-field #mailform20_Euro,
#p75 .csc-mailform-field #mailform12_Euro,
#p75 .csc-mailform-field #mailform7_Euro{
	width: 1.2em;
}

/* mail form */
.twoColumns .Tx-Formhandler, 
.twoColumns .csc-mailform{
	width: 100%;
	margin: 0;
	padding: 0;
}

.twoColumns .Tx-Formhandler label,
.twoColumns .csc-mailform-field label{
	width: 25%;
	margin-left: -20px;
}

.twoColumns .Tx-Formhandler input,
.twoColumns .Tx-Formhandler textarea,
.twoColumns .csc-mailform-field input,
.twoColumns .csc-mailform-field textarea{
	width: 75%;
}

.twoColumns .Tx-Formhandler .type-button input,
.twoColumns input.csc-mailform-submit {
	width: auto;
	margin-right: 0;
}

.twoColumns .Tx-Formhandler span,
.twoColumns .csc-mailform-field span{
	display: block;
	float: left;
	padding: 0 3px 0 0;
/*	margin-left: 23%;*/
	margin-left: -10px;
	text-align: right;
}

.twoColumns .Tx-Formhandler .error {
	margin-left: 23%;
}
