/* position header */
#headerWrap{
	position: absolute;
	left: 53.5%;
}

 
div#and_now ul,
#mainNavi ul ul,
#mainNavi ul ul ul { 
	visibility: visible;
}
div#and_now:hover ul, 
#mainNavi :hover a,
#mainNavi ul :hover ul a {
	visibility: visible;
}

#mainNavi ul ul:hover,
#mainNavi a:hover{ 
	visibility: visible;
}