/* main.css zentralkapelle.de */

/* default Layout   */
* {
	font-family: Lucida, sans-serif;
	font-size: 15.5px;
	line-height: 1.4em;
	color: #606060;	
}
.marginBottom {
	margin-bottom: 0.8em;
}
.clearFloat {
	clear: both;
}
h1 {
	font-size: 1.8em;
	line-height: 0.9em
}
body {
	margin: 0;
	overflow-y: scroll;
	font-family: Lucida, sans-serif;
	font-size: 15.5px;
	line-height: 1.4em;
	color: #606060;	
	}
body a,
body a:link,
body a:visited{
	text-decoration: none;
	color: #b12932;
}

/* wrap (all) */
#wrap {
	position: absolute;
	width: 100%;
    background-color: #fff;
    /* took out 
    padding: 0 0 60px 0;
    height: auto;*/
    /*added */
    height: 100%;
    padding: 0;
    /*end add*/
    
}

/* header */
#spacerHeader{
	width: 53.5%;
	height: 214px;
	float: left;
}

#header {
	height: 214px;
	float: left;
	width: 46.5%;
	margin-left: -64px;
}
#headerInner{
	background: transparent url(../images/zkb_logo.png) no-repeat;
	background-position: 0% 50%;
	height: 214px;
	width: 485px; 
}
#headerInner>a {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

/* fullsize layout */
.fullSize #wrap{
	overflow: hidden;	
}
.fullsize #headerWrap {
	background: url(../images/kopf_fullscreen.png);
	background-position: 100% -40px;
	background-repeat: no-repeat;
	position: fixed;
	width: 95%;
	z-index: 99;
}
.fullsize #spacerHeader,
.fullsize #header{
	height: 245px;
}
.fullsize #header{
	margin: 0;
}

.fullsize #sidebar-left{
	position: fixed;
	top: 214px;
}
/* login */
#login {
	position: fixed;
	right: 0;
	margin: 4px;
	color: #bbb;
	height: 20px;
}
#login.closed {
	background: url(../icons/closed.png)
}
#login.open {
	background: url(../icons/open.png)
}
#login.closed,
#login.open {
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding: 0 20px 0 0
}
#login input,
#login .loggedInName{
	color: #bbb;
	font-size: 0.6em;
	line-height: 1.2em;
}
#login input{
	visibility: hidden;
}
#login input[type='text'],
#login input[type='password']{
	width: 7em;
	margin: 1px;
}	
#login:hover input,
#login input:focus{
	visibility: visible;
}

/* main (all except header) */
#main {
	height: auto;
	/*added:*/
	position: absolute;
	top: 214px;
	height: 100%;
	/* end add*/
}
.fullsize #headerInner {
	background: none;
}

.line {
    background-color: transparent;
    display: block;
    width: 100%;
}

/* sidebars */
#sidebar-left,
#sidebar-right {
    height: 100%;
    width: 132px;
    background: transparent;
    z-index: 100;
}

/* left sidebar */
#sidebar-left{
	position: relative;
    left: 0;
    /* remove
	float: left;*/
}
/* right sidebar */
#sidebar-right {
	position: fixed;
    right: 0;
    top: 214px;
}


/* maincontent */
#main #maincontent {
	width: 100%;
	/* added */
	position: absolute;
	top:0;
	padding-bottom: 60px;
	/* end add*/
}

/* content wrap */
#contentWrap{
	padding: 0 165px 0 215px;
}

/* content columns */
#content_left,
#content_right{
	float: left;
	width: 43%;
	margin: 0 3.5% 0;
	min-width: 280px;
}

#content_left{
	text-align: right;
}

#and_now {
	width: 132px;
	top: 100px;
}
/* footer */
#footer {
	position: fixed;
	bottom: 0;
	width: 44px;
	height: 58px;
	background: #312f32;
	padding: 0;
	left: 132px;
	z-index: 50;
}

#footer DIV.csc-textpic-imagerow{
	margin: 0;
}

/* konzerttip */
#tip {
	color: #fff;
	position: fixed;
	bottom: 0;
	width: auto;
	height: 60px;
	background: #312f32;
	right: 132px;
	z-index: 50;
}
#tip a{
	display: block;
	padding: 10px;
}
#tip a,
#tip a b,
#tip a:visited
#tip a:visited b {
	color: #fff;
}

#footer DIV.csc-textpic-imagerow{
	margin: 0;
}

/* Headings */
h2, h3, h4{
	margin: 0;
}

h2 {
	font-size: 1em;
	font-weight: 700;
}

#maincontent h1,
.pageTitle h1{
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
}

#content_main_full{
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
}

#content_main_full .csc-textpic a>img{
 opacity: 0;
}

/* Text */
p {
	margin: 0 0 0.8em ;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
#content_left #idTextPanel {
	text-align: right;
}

/* login */
.tx-felogin-pi1 {
	max-width: 17em;
	float: right;
}

#fancybox-wrap .fancybox-title-inside {
	text-align: left;
}

