@font-face {
	font-family: 'MolotRegular';
	src: url('../fonts/molot/Molot-webfont.eot');
	src: url('../fonts/molot/Molot-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/molot/Molot-webfont.woff') format('woff'), 
	url('../fonts/molot/Molot-webfont.ttf')	format('truetype'),
	url('../fonts/molot/Molot-webfont.svg#MolotRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#and_now,#mainNavi {
	font-size: 1em;
	position: relative;
	z-index: 100;
}

#and_now .csc-firstHeader, #mainNavi .firstLevel>a {
	font-family: "MolotRegular";
	letter-spacing: 0.6px;
}

#mainNavi {
	width: 132px;
	margin-right: 45px;
	height: 100%;
}

/* remove all the bullets, borders and padding from the default list styling */
#and_now ul,#mainNavi ul {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#frontNavi ul{
	padding: 0;
	margin:0;
	list-style-type: none;
}
#mainNavi ul ul {
	background:#fff;
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#frontNavi li,
#mainNavi li {
	position: relative;
	padding-top: 2px;
}
#and_now li {
	position: relative;
}
/* style the links for the top level */
#frontNavi li.firstLevel a,
#frontNavi li.firstLevel a:visited,
#and_now a,
#and_now a:visited,
#mainNavi a,
#mainNavi a:visited {
	text-decoration: none;
	padding-left: 10px;
	line-height: 29px;
	margin: 0;
}

	
#and_now,
#and_now a {
	padding-right: 10px;
	text-align: right;
}

#frontNavi li.firstLevel,
div#and_now,
#mainNavi li.firstLevel {
	position: relative;
}
div#and_now,
#mainNavi li.firstLevel {
	min-height: 500px;
}
#frontNavi li.firstLevel{
	height: 82px;
}


#frontNavi li.firstLevel a,
#and_now .csc-firsHeader,
#mainNavi li.firstLevel a.drop.active {
	font-size: 20px;
	height: 30px;
	color: #fff;
}

#frontNavi li.firstLevel a,
#mainNavi li.firstLevel a.drop.active {
	background: url("../images/hier.gif") repeat scroll 0 0 transparent;
	width: 112px;
	padding: 39px 0 10px 20px;
	margin-bottom: 2px;
	display: block;
}

#and_now .csc-firstHeader
 {
	padding: 40px 10px 10px;
	margin: 0;
	height: 35px;
}

#and_now div.csc-default {
	background: url(../images/und_jetzt.gif) no-repeat
	}
	
/*hide text of first level navi */
#frontNavi li.firstLevel a,
#mainNavi li.firstLevel>a,
#and_now h1,
#and_now h2,
#and_now h3{
	text-align: left;
	text-indent: -50000px;
}	
#and_now ul li>a,
#mainNavi li.thirdLevel>a {
	background: #fff;
	color: #606060;
}

#and_now ul li>a,#mainNavi li.secondLevel>a {
	font-family: 'MolotRegular';
	line-height: 1.2em;
}

/* style the second level background */
#mainNavi ul ul a.drop,#mainNavi ul ul a.drop:visited {
	
}

/* style the third level */
#mainNavi li.thirdLevel,
#mainNavi li.secondLevel{
	padding: 0;
}
#mainNavi li.thirdLevel a,
#mainNavi li.thirdLevel a:visited,
#mainNavi li.thirdLevel a:active {
	font-family: sans-serif;
	background: #fff;
	font-size: 16px;
	padding-left: 45px;
}

#mainNavi ul ul ul a,#mainNavi ul ul ul a:visited {
	line-height: 1em;
}

/* hide menus */
div#and_now ul,
#mainNavi ul ul { 
	visibility: hidden;
}
#mainNavi ul ul { 
	left: 0;
	width: 142px;
}

/* position the third level flyout menu */
#mainNavi ul ul ul {
	padding: 0 0 0 10px;
	top: 0;
	width: auto;
}

/* style the second level links */
#mainNavi ul ul a,#mainNavi ul ul a:visited {
	background-color: #fff;
	color: #606060;
	height: auto;
	padding: 0px 10px 2px 20px;
}

/* style the hover and active state */
#and_now ul a.active,#mainNavi ul ul a.active,#and_now ul a:hover,#mainNavi ul ul a:hover{
	color: #312f32;
	text-decoration: none;
}
#mainNavi li.thirdLevel a.active,#mainNavi li.thirdLevel a:hover{
	font-weight: 700;
}

div#and_now:hover ul, 
#mainNavi :hover>a,
#mainNavi ul :hover ul>a {
	visibility: visible;
}

/* make the second level visible when hover on first level list OR link */
#mainNavi :hover *,#mainNavi ul a.drop:hover * {
	visibility: visible;
	height: auto;
}