.oneColumn .csc-textpic-intext-right-nowrap h2{
	text-align: right;
}

.oneColumn DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap, 
.oneColumn DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap{
	margin: 0;
}

.oneColumn #content {
	width: 100%;
	min-width: 560px;
}

.oneColumn #content .block{
	width: 43%;
	min-width: 280px;
	clear: none;
	float: left;
	margin: 0 3.5% !important;
}

.oneColumn #content div.layout-1 {
/*	margin-bottom: 3em;*/
}
.oneColumn #content .layout-1 .csc-textpic-intext-left-nowrap .csc-textpic-single-image{
	text-align: right;
}
.oneColumn #content .layout-1 .csc-textpic-intext-left-nowrap .csc-textpic-single-image img,
.oneColumn #content .layout-1 .csc-textpic-intext-right-nowrap .csc-textpic-single-image img,
.oneColumn #content .layout-1 .csc-textpic .csc-textpic-imagerow .csc-textpic-image img{
	width: 100%;
	height: auto;
	margin-bottom: 1.2em;
	max-width: 450px;
}
.oneColumn #content .layout-2 .csc-textpic-intext-left-nowrap .csc-textpic-single-image {
	text-align: right;
}

.oneColumn #content .layout-2 .csc-textpic-intext-right-nowrap .csc-textpic-single-image {
	text-align: left;
}

.oneColumn #content .block h3 {
	margin-top: 0;
}

.oneColumn .csc-default.layout-0,
.oneColumn .csc-default.layout-1,
.oneColumn .csc-default.layout-2{
	margin-bottom: 30px;
}


.oneColumnCentered #content.centered div.csc-default,
#subNaviTop.centered,
#subNaviTop.centered div.pageTitle,
#subNaviTop.centered div.pageTitle h1{
	margin-left: 0;
	float: none;
	text-align: left;
	width: 100%;
}
#subNaviTop.centered{
	margin: 0;
	width: 100%
}

.oneColumnCentered #subNaviTop.centered .pageTitle{
	margin: 0;
	float: left;
}

.oneColumnCentered #content{margin-top: 30px}

/* remove float of images */
.oneColumn DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI {
	float: none;
}