#subNaviTop {
	position: relative;
	width: 43%;
	margin: 0 3.5%;
	min-width: 280px;
	height: 60px;
	text-align: right;
	font-size: 1em;
	font-family: sans-serif;
}

.threeColumns #subNaviTop{
	width: 46.5%;
	margin-right: 3.5%;
}
.oneColumn  div#contentWrap div#subNaviTop{
	margin: 0 3.5%;
}

#subNavi{
	position:relative;
	height: auto;
}

#subNavi a,
#subNavi a:visited{
	color: #606060;
	text-decoration: none;
	display: inline;
}

#subNavi a:hover{
	color: #312f32;
}

#subNavi ul{
	list-style-type: none;
	display: inline-table;
	margin-top: 0.8em;
	padding: 0 0.8em
}
#subNavi li{
	float: left;
	padding: 5px;
}

#subNaviTop .pageTitle{
	float: right;
	height: 60px;
	padding: 0;
	margin: 0 0 0 20px;
	font-size: 0.8em;
}