.twoColumns #content {
	margin-top: 30px;
}
/* resize images in content columns */
.twoColumns #content_left .layout-1 div.csc-textpic .imageWrap,
.twoColumns #content_right .layout-1 div.csc-textpic .imageWrap,
.twoColumns #content_left .layout-1 div.csc-textpic .imageWrap img,
.twoColumns #content_right .layout-1 div.csc-textpic .imageWrap img{
	width: 100%;
	height: auto;
}
.twoColumns .csc-textpic-intext-right-nowrap h2{
	text-align: right;
}

