<!-- ###master_input### -->
###error_###fieldname######
<div class="type-text">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### </label>###required_###fieldname######
  <input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
</div>
<!-- ###master_input### -->

<!-- ###master_textarea### -->
###error_###fieldname######    
<div class="type-text">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### </label>###required_###fieldname######
  <textarea rows="3" cols="30" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
</div>
<!-- ###master_textarea### -->

<!-- ###master_input_ajax### -->
###error_###fieldname######
<div class="type-text ajax">
  <label for="###fieldname###">###LLL:###fieldname###### </label>###required_###fieldname######
  <input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
  ###validate_###fieldname######
</div>
<!-- ###master_input_ajax### -->

<!-- ###master_textarea_ajax### -->
###error_###fieldname######    
<div class="type-text ajax">
  <label for="###fieldname###">###LLL:###fieldname###### </label>###required_###fieldname######
  <textarea rows="3" cols="30" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
  ###validate_###fieldname######
</div>
<!-- ###master_textarea_ajax### -->

<!-- ###master_timestamp### -->
<input type="hidden" name="###formValuesPrefix###[formtime]" value="###TIMESTAMP###" />
<!-- ###master_timestamp### -->

<!-- ###master_gender### -->
###error_gender###    
<div class="type-text">
	<label for="gender" ###is_error_gender###>###LLL:gender### ###required_gender###</label>
	<select id="gender" name="###formValuesPrefix###[gender]" class="select">
		<option value=""></option>
		<option value="###LLL:gender.01###" ###selected_gender_###LLL:gender.01######>###LLL:gender.01###</option>
		<option value="###LLL:gender.02###" ###selected_gender_###LLL:gender.02######>###LLL:gender.02###</option>
		<option value="###LLL:gender.03###" ###selected_gender_###LLL:gender.03######>###LLL:gender.03###</option>
	</select>
	###validate_gender###
</div>
<!-- ###master_gender### -->



<!-- ###master_position### -->
###error_position###    
<div class="type-text">
	<label for="position" ###is_error_position###>###LLL:position### ###required_position###</label>
	<select id="position" name="###formValuesPrefix###[position]" class="select">
		<option value="">---</option>
		<option value="###LLL:job_1###" ###selected_position_###LLL:job_1######>###LLL:job_1###</option>
		<option value="###LLL:job_2###" ###selected_position_###LLL:job_2######>###LLL:job_2###</option>
		<option value="###LLL:job_3###" ###selected_position_###LLL:job_3######>###LLL:job_3###</option>
	</select>
	###validate_position###
</div>
<!-- ###master_position### -->

<!-- ###master_contact-type### -->
###error_contact-type###    
<div class="type-check">
	<label for="contact-type-private" ###is_error_contact-type###>###LLL:contact-type### ###required_contact-type###</label>
	<div>
		<input type="radio" id="contact-type-private" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.private###" ###checked_contact-type_###LLL:contact-type.private###### />
		<label for="contact-type-private">###LLL:contact-type.private###</label>
	</div>
	<div>
		<input type="radio" id="contact-type-commercial" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.commercial###" ###checked_contact-type_###LLL:contact-type.commercial###### />
		<label for="contact-type-commercial">###LLL:contact-type.commercial###</label>
	</div>
</div>
<!-- ###master_contact-type### -->

<!-- ###master_file### -->
###error_###fieldname######
<div class="type-text type-file">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### </label>###required_###fieldname######
  <input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
	<input type="submit" ###submit_reload### class="button submit" value="###LLL:submit_reload###" />
</div>
<div class="type-text">
	<div class="fileupload-info">
    <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
  	<span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
  	<span class="label">###LLL:uploadedFiles_count###</span> <span class="info">######fieldname###_fileCount### / ######fieldname###_maxCount###</span>
	</div>
</div>
######fieldname###_uploadedFiles###
<!-- ###master_file### -->


<!-- ###master_basicfile### -->
###error_###fieldname######
<div class="type-text type-file">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### </label>###required_###fieldname######
  <input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
</div>
<div class="type-text">
	<div class="fileupload-info">
    <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
  	<span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
	</div>
</div>
<!-- ###master_basicfile### -->


<!-- ###master_checkbox### -->
###error_###fieldname######
<div class="type-check">
	<label for="###fieldname###">
	<input type="checkbox" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="1" ###checked_###fieldname###_1### />
		###LLL:###fieldname###### ###required_###fieldname######
		</label>
</div>
<!-- ###master_checkbox### -->

<!-- ###master_spamprotection-captcha### -->
<div class="type-text">
###error_captchafield###
	<label>###LLL:captcha### ###required_captchafield###</label>
	<div class="captcha">	
		###CAPTCHA###
		<input type="text" name="###formValuesPrefix###[captchafield]" />
	</div>
</div>
<!-- ###master_spamprotection-captcha### -->

<!-- ###master_spamprotection-jm_recaptcha### -->
<div class="type-text">
###error_recaptcha_response_field###
	<label>###LLL:captcha### *</label>
	<div class="recaptcha">
		###RECAPTCHA###
	</div>
</div>
<!-- ###master_spamprotection-jm_recaptcha### -->

<!-- ###master_spamprotection-sr_freecap### -->
<div class="type-text">
###error_freecapfield###
	<label>###SR_FREECAP_NOTICE### ###required_freecapfield###</label>
	<div class="sr_freecap">
		###SR_FREECAP_IMAGE###
		<div class="sr_freecap-input">
			<input type="text" size="15" id="freecapfield" name="###formValuesPrefix###[freecapfield]" title="###SR_FREECAP_NOTICE###" value="" />
			###SR_FREECAP_CANT_READ###
		</div>
	</div>
</div>
<!-- ###master_spamprotection-sr_freecap### -->

<!-- ###master_spamprotection-wt_calculating_captcha### -->
<div class="type-text">
###error_wt_calculating_captchafield###
	<label>###LLL:captcha### ###required_wt_calculating_captchafield###</label>
	<div class="wt_captcha">
		###WT_CALCULATING_CAPTCHA###
		<input type="text" name="###formValuesPrefix###[wt_calculating_captchafield]" />
	</div>
</div>
<!-- ###master_spamprotection-wt_calculating_captcha### -->

<!-- ###master_spamprotection-mathguard### -->
<div class="type-text">
###error_mathguard_answer###
	<label>###LLL:captcha### *</label>
	<div class="mathguard">	
		###MATHGUARD###
	</div>
</div>
<!-- ###master_spamprotection-mathguard### -->

<!-- ###master_spamprotection-timecheck### -->
<input type="hidden" name="###formValuesPrefix###[formtime]" value="###TIMESTAMP###" />
<!-- ###master_spamprotection-timecheck### -->

<!-- ###master_submit### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit" value="###LLL:submit###" />
</div>
<!-- ###master_submit### -->

<!-- ###master_submit-disable### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit ###validation-status###" value="###LLL:submit###" />
</div>
<!-- ###master_submit-disable### -->

<!-- ###master_ajax-submit### -->
<div class="type-button">
	###loading_ajax-submit###
	<input type="submit" ###submit_nextStep### class="button submit" value="###LLL:submit###" />
	<div class="clear"></div>
</div>
<!-- ###master_ajax-submit### -->

<!-- ###master_next### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit" value="###LLL:next###" />
</div>
<!-- ###master_next### -->

<!-- ###master_prev### -->
<div class="type-button">
  <input type="submit" ###submit_prevStep### class="button submit" value="###LLL:prev###" />
</div>
<!-- ###master_prev### -->

<!-- ###master_form-start### -->
<form action="###REL_URL###" method="post" class="yform columnar" id="###fieldname###">
  ###HIDDEN_FIELDS###
  
<!-- ###master_form-start### -->

<!-- ###master_multipart-form-start### -->
<form action="###REL_URL###" method="post" class="yform columnar" id="###fieldname###" enctype="multipart/form-data" >
  ###HIDDEN_FIELDS###
  <h2>###LLL:label_fieldset###</h2>
<!-- ###master_multipart-form-start### -->

<!-- ###master_form-end### -->
</form>
<!-- ###master_form-end### -->

<!-- ###master_section-start### -->
<fieldset>
<!-- ###master_section-start### -->

<!-- ###master_section-end### -->
</fieldset>
<!-- ###master_section-end### -->

<!-- ###master_email-user-start-plain### -->



<!-- ###master_email-user-start-plain### -->

<!-- ###master_email-user-end-plain### -->

<!-- ###master_email-user-end-plain### -->

<!-- ###master_email-admin-start-plain### -->


<!-- ###master_email-admin-start-plain### -->

<!-- ###master_email-admin-end-plain### -->

<!-- ###master_email-admin-end-plain### -->

<!-- ###master_email-user-start-html### -->
<table cellpadding="2" cellspacing="2">
<!-- ###master_email-user-start-html### -->

<!-- ###master_email-user-end-html### -->
</table>
<!-- ###master_email-user-end-html### -->

<!-- ###master_email-admin-start-html### -->
<table>
<!-- ###master_email-admin-start-html### -->

<!-- ###master_email-admin-end-html### -->
</table>
<!-- ###master_email-admin-end-html### -->

<!-- ###master_email-line-plain### -->
###LLL:###fieldname###### ###value_###fieldname######
<!-- ###master_email-line-plain### -->

<!-- ###master_email-line-html### -->
<tr>
	<td valign="top"><strong>###LLL:###fieldname######</strong></td>
	<td>###value_###fieldname######</td>
</tr>
<!-- ###master_email-line-html### -->
