<!--###TEMPLATE_LOGOUT###-->

###STATUS_HEADER###
###STATUS_MESSAGE###

<form class="yform columnar"  action="###ACTION_URI###" target="_top" method="post">
	<fieldset>
    <div class="type-text">
	 Hallo	###USERNAME###
    </div>
    <div class="type-button">
		<input type="submit" name="submit" value="###LOGOUT_LABEL###" />
	 </div>

	<div class="felogin-hidden">
		<input type="hidden" name="logintype" value="logout" />
		<input type="hidden" name="pid" value="###STORAGE_PID###" />
		<input type="hidden" name="###PREFIXID###[noredirect]" value="###NOREDIRECT###" />
	</div>
	</fieldset>
</form>

<!--###TEMPLATE_LOGOUT###-->