<f:layout name="main" />
<f:section name="navi">
	<div id="sidebar-left"><f:cObject typoscriptObjectPath="lib.frontNavi" /></div>
</f:section>
<f:section name="content">
  <div id="content_main_full">
    <f:format.html>{content_left}</f:format.html>
  </div>
</f:section>
<f:section name="sidebar-right"></f:section>
<f:section name="login"></f:section> 
<f:section name="footer"></f:section>
<f:section name="tip">
	<div id="tip">
	    <f:format.html>{tip}</f:format.html>
	</div>
</f:section>