<div id="wrap">
	<div id="headerWrap">
		<div id="spacerHeader"></div>
		<div id="header">
			<div id="headerInner"><f:cObject typoscriptObjectPath="lib.logoLink" /></div>
		</div>
	</div>
	<div id="main" class="line">
		<f:render section="navi" />
		<f:render section="content" />
		<f:render section="sidebar-right" />
	</div>
</div>
<f:render section="login" />
<f:render section="footer" />
<f:render section="tip" />
