<f:layout name="main" />
<f:section name="navi">
	<div id="sidebar-left"><f:cObject typoscriptObjectPath="lib.mainNavi" /></div>
</f:section>
<f:section name="content">
	<div id="maincontent"  class="item">
		<div id="contentWrap">
			<div id="subNaviTop" class=""><f:format.html>{pageTitle}</f:format.html><f:cObject typoscriptObjectPath="lib.subNavi" /></div>
				<div id="content">
					<div id="content_left" class="item">
			    		<f:format.html>{content_left}</f:format.html>
			  		</div>
					<div id="content_right" class="item">
					    <f:format.html>{content_right}</f:format.html>
					</div>
				</div>
				
		</div>
	</div>
</f:section>
<f:section name="sidebar-right">
	<div id="sidebar-right">
		<f:format.html><div id="and_now">{and_now}</div></f:format.html>
	</div>
</f:section>
<f:section name="login">
		<f:format.html>{loginBox}</f:format.html>
</f:section>
<f:section name="footer">
	<div id="footer">	
    <f:format.html>{footer}</f:format.html>
	</div>
</f:section>
<f:section name="tip">
	<div id="tip">
	    <f:format.html>{tip}</f:format.html>
	</div>
</f:section>